# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
.eggs/
venv/
.venv/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
mediafiles/

# Node
node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore
